body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main_container{
  width: 100%;
  height: 550px;
  background-color: cyan;
}
.img1 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0, 0.6)), url(../src/images/dashboardimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: inherit;
  height: inherit;
}

.dashboard_content{
  margin: auto;
      position:relative;
      top:10%;
      width: 80%;
      height: 80%;
      text-align: center;
}
.dashboard_content h1{
  text-shadow: 1px 1px skyblue;
  font-family: 'Tangerine', serif;
    }

  .main_dashboard_content{
    margin-top: 5%;
    font-size: 1.5em;
    color: black;
    font-family: 'Song Myung', serif;
    text-shadow: 1px 1px skyblue;
  }

  :root{
    background-image: url(https://i.pinimg.com/originals/bb/62/46/bb6246c85c65ddd0b35f8e6a817cb256.gif);
    opacity: 0.9;
    filter: alpha(opacity=20);
      background-repeat:repeat-x;
  }

.calendersizer{
  width: 75%;
  margin-top: 0.4px;
  background: linear-gradient(to right, rgba(255,0,0,0), brown, skyblue);
}

.positioner{
position: absolute;
top:15%;
width: 25%;
left: 75%;
max-height: 50%;
}

.NavbarColor1{
  background: linear-gradient(to right, skyblue, rgba(255,0,0,0));
}

.homeName{
  font-family: 'Tangerine', serif;
       font-size: 48px;
       text-shadow: 4px 4px 4px #aaa;
}

.Counter-Fluid {
  margin-top: 10px;
  max-width: 75%;
}

.cards{
  border:none;
  background: linear-gradient(to right, rgba(255,0,0,0), skyblue, rgba(255,0,0,0));
  border-bottom: 1px solid blue;
  transition: transform .2s; /* Animation */
  box-shadow: 0px 10px 50px -1px brown;

}

.cards:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
  }
.cards Button{
  background: linear-gradient(to right, skyblue, rgba(255,0,0,0));
color: inherit;
font-weight: bold;
}

.footerItself{
  min-height: 100px;
margin-bottom: 0px;
text-align: center;
}
.footerItself a{
  letter-spacing: 1.0em;
  word-spacing: 1.5em;
  color: white;
  text-shadow: 2px 2px black;
}
.footerItself a:hover {
  text-decoration: none;
  background: linear-gradient(to right, skyblue, rgba(255,0,0,0));
}

.footerItself hr{
  border:none;
  height: 20px;
	height: 50px;
	border-bottom: 1px solid;
	box-shadow: 0 20px 10px -20px brown;
}
